html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Nc College
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Business & Management
      .container
       .row
        .col-12
        .paraghrapha
         h1 Welcome to
         p
          em The School of Business & Management
         span The School of Business and Management provides advanced professional education that can serve as a catalyst in career progression. For more than a century, we have drawn our passion for creating best managers in working with organizations worldwide, and the insights gained from our faculty’s research to educate generations of leaders who have shaped the practice of business in every industry and in every country around the world.
         p
          em Majors Offered by School of Business and Management
         span Creating and perpetuating a successful business has always been a challenge. At Newcastle college we are determined to prepare professionals for only-the-strong-survive world of modern business. Rampant with new, ever-advancing technologies, managers need unshakable knowledge, top-notch education, and a serious set of skills, which we strive to provide at Newcastle.
         ul
          li Human Resource Management
          li Entrepreneurship
          li Marketing
          li Quality Management
          li Accounting
          li Retail Management
          li Finance
          li Logistics Management
          li Advertising
          li Hospitality Management
          li Project Management
          li International business 


        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      