html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Nc College
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Collaboration
      .container
       .row
        .col-12
         .img
          img(src="../img/oursec/7.jpg", alt="", style="width: 100%;")
        .paraghrapha
         p We want to work with you to ensure that our research and expertise supports and influences changes in the business world. We collaborate with business in a number of areas:
         p Research – be at the very forefront of innovation by working with us on research     Consultancy – with nearly 2000 academic staff, we have some of the best people in their fields for advice and expertise     Knowledge Exchange – Government schemes designed to help you access Higher Education know how     Financial Support – find out about funding streams available to help you work with us 
         p After a very important meeting for all members of Newcastle college board of directors ,The College has a firm commitment to play a full part in regional economic development, supporting and developing opportunities to establish new relationships between the College and other organisations in the region. An Unanimously decision was taken to start working by  franchise  system for Newcastle college around the world . Dealing through certified training centers and under the supervision of Newcastle college .
         p We accept all applications which matches Newcastle college specifications .
         p    Newcastle College Franchising terms :
         p(style="color:blue;")     Full resume .     Years of experience.     Photos of facilities .     Setting the target and ways to achieve .     Organization chart  .     Type of franchise ( Diploma , Distance learning , MBA  , mini MBA , DBA , short courses , PhD , tailored courses , etc…)
     
        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      