html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Nc College
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Computer Sciences 
      .container
       .row
        .col-12
        .paraghrapha
         p(style="width:80%;margin:0 10%;font-size:15px") Welcome to
         p(style="width:80%;margin:0 10%;font-size:15px") The School of Computer Sciences Newcastle School of Computer Science is one of the premier online computer Computer Sciences schools worldwide. Right from the beginning of computers to the internet era and intelligent tutors, our learned and award winning faculty and diligent students are known globally for developing new methods and technologies in the computer world. Majors Offered by School of Computer Sciences: At Newcastle School of Computer Science you will be exposed to an unparalleled Computer Sciencesal experience that will put you on a higher position than others in the industry. Our rigorous curriculum, digital learning tools and real world applications offer you advanced I.T aptitude that is useful whether you are starting your career or willing to upgrade it. Following are the exclusive majors offered at Newcastle School of Computer Science. •    Computer Science •    Information Technology •    Network Management •    Software Engineering •    Web Development •    Multimedia and Animation
         p(style="width:80%;margin:0 10%;font-size:15px") Programs offered by School of Computer Sciences: The School of Computer Sciences at Newcastle college is equipped with the most recent technology, required to become skilled at related fields.Degree Programs    Eligibility Criteria Associate Degree    Minimum high school or equiv. Bachelor’s Degree    International Computer Sciences Master’s Degree     Minimum high school or equiv. Doctorate Degree     Minimum Bachelor’s or equiv. Doctorate Degree    Minimum Master’s or equiv.


        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      