html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Nc College
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Collaboration
      .container
       .row
        .col-12
         .img
          img(src="../img/oursec/9.jpg", alt="", style="width: 100%;")
        .paraghrapha
         h4.mt-3 &nbsp;&nbsp; Dear Student,
         p(style="color:blue;") &nbsp;  &nbsp; &nbsp; &nbsp;We take great pleasure in welcoming you to Newcastle College International (NCC). Newcastle college provides training to both international and English students in English and vocational courses. Newcastle College is very conveniently located in the city of Newcastle – next to major shopping, transport, financial and entertainment facilities. We offer English and Business courses in one of the most beautiful and multi-cultural cities in the world.
         p(style="color:blue;") Newcastle College is a Registered Training Organization. The college staff is truly international and multi-lingual. They have been drawn to the College because of its professionalism; fellowship and commitment to promoting cultural exchange. We seek to help our students by providing a friendly, fun and professional environment in which to study. I warmly invite you to join Newcastle College. The College staff members and I are looking forward to the opportunity of welcoming you to the campus and helping you to achieve your educational and career goals.
         p.mt-5
          em(style="color:red;") Thank you for your interest and welcome to Newcastle College.



        h2.mt-5(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      