html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Personal Education Plan
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Personal Education Plan
      .container
       .row
        .col-12
        .paraghrapha
         ul
          li 
           h4 Welcome to Your Education Plan
           p Combining studies with work is not an easy task. That’s why we have outlined several guidelines that will help you plan better and study more easily.     Schedule a call appointment with our counselors to work out a detailed and step-by-step education plan that will suit your workweek. Our counselors are always available to answers questions about tuition, scheduling and time to graduation. Feel free to contact them anytime no matter which part of the world you are in.     It’s always best to discuss matters on a one-on-one basis. Call our Admissions Officer to discuss your goals and previous experience and decide what program is right for you.
          li 
           h4 PROGRAMS AND CAREER
           p Choose a program you can make into a career; otherwise there’s no point in spending time and money on something that can’t give you any long-term benefit     Match your interests to your abilities; if you’re not good at biology, you can’t make a successful career in it, academic or professional.     Make an informed decision- do a little research on the trends of the industry you intend to operate in     Consult acquaintances and experts- talk to your friends and families as well as our facilitators who will help you make the best decision

          li 
           h4 AFFORDABILITY
           p Consider the amount of money you can spend on education, monthly or yearly     Evaluate further earning opportunities     Review our financial aid options


          li 
           h4 FLEXIBILITY
           p Work out how much time you can give to studies on a daily basis. This will largely depend on your work hours and other commitments so consider it carefully.     Consider holiday time and assignments deadlines: how much time can you allocate?     Divide your time: match your courses to the number of hours you can allot. This will give you a rough idea how much study load you can take in a day     Prepare for make-up study in case you miss out on study hours on any given day

          li 
           h4 COMPLETION OF STUDIES
           p Find out which courses you can get transfers for.     Prioritize: how soon do you want to complete your studies and how willing are you to do it?     Inform the facilitator about your ideal date of completion. Based on that, our facilitator will suggest the best course of action to take.
          


        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      