html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Nc College
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Education
      .container
       .row
        .col-12
        .paraghrapha
         p(style="width:80%;margin:0 10%;font-size:15px") Welcome to
         p(style="width:80%;margin:0 10%;font-size:15px") The School of Education Aiming towards the fulfillment of its mission of spreading quality education around the globe and for people to achieve maximum benefit from their educational experiences, the Newcastle School of Education continues its successful journey as a world leader in ground breaking, cross disciplinary inquiries that shape educational practices, the conceptual keystones and the professions that serve the enterprises around the world. Majors Offered by School of Education Faculty at Newcastle School of Education is committed to better understanding of the learning and creating new environments to maximize learning. The school seeks to develop effective learning through knowledge and wisdom sharing, imagination of its students and through the vision of its faculty in efforts to improve the quality of education around the globe. •    Early Education •    Adult Education •    Teaching and Learning •    Special Education •    Middle Level Education •    Curriculum and Instruction •    Administration and Supervision •    Assessment and Evaluation •    Teaching Assistant
         p(style="width:80%;margin:0 10%;font-size:15px") Programs offered by School of Education: Our rigorous programs are designed for prospective teachers and current educators who believe in working collaboratively to meet the challenges of 21st century teaching and learning. Our programs in School of Education are driven by our mission to influence student learning, and to equip you to be an educator who is memorable and influential in every aspect of the academic experience. Degree Programs         Eligibility Criteria Associate Degree          Minimum high school or equiv. Bachelor’s Degree        International education Master’s Degree            Minimum high school or equiv.


        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      