html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Faculty & Staff
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Faculty & Staff
      .container
       .row
        .col-12
         .img
          img(src="../img/oursec/10.jpg", alt="", style="width: 100%;")
        .paraghrapha
         h4 Newcastle College’s Faculty
         p Newcastle College is a top-rated online institution owing to its unmatched educational system and competent faculty consisting of world- class scholars and industry experts. Newcastle College faculty members come from all corners of the world, bringing with them the valuable knowledge and expertise. At Newcastle College, we have both full-time and part-time educators who are involved in the designing and development of the courses and study programs. They also manage the assessments of class work and assignments. They also facilitate students in providing them recommendation letters for better job placements globally. Role of Our Faculty
         p Our faculty is committed towards maintaining and improving the prevailing learning environment by delivering quality education. Our online classrooms are entirely managed by our faculty from creating course content to preparing online exams. At all stages of learning, the Newcastle College faculty members promote a challenging and unconventional learning culture so that the students have sufficient opportunity for appropriate skill and personality development.
         p The extensive and diverse experience carried by our faculty coupled with their knowledge enable them to develop and improve the curriculum whenever it there is a need to do so. This is extremely important because it is only a dynamic and well-designed study plan that can help the students in being equipped with the needed skill-set.
         p At Newcastle College we categorize our faculty as follows:
         p(style="font-weight:600") 1. Permanent Faculty 
         p(style="font-weight:600") 2. Visiting Faculty 
         p(style="font-weight:600") 3. Associated Faculty 
         p(style="font-weight:600") 4.Permanent Faculty
         p(style="color:red") Newcastle College has a team of 45 permanent faculty members who are continuously looking forward towards the betterment of processes and curriculum. Their responsibilities include:
         ul
          li Classroom organization
          li Education management and curricula design
          li Management of class assessments and assignments
          li Designing course content
          li Providing students with recommendation letters for better job placements
          li Assisting students through online communication


        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      