doctype
html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Nc College
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 International Student
      .container
       .row
        .col-12
         .img
          img(src="../img/oursec/6.jpg", alt="", style="width: 87%;height: 348px;")
        .paraghrapha
         ul
          li
           h3 Welcome to our International Department
          p Newcastle College is based in one of the world’s globally recognized, fashionable and exciting capital cities. We are dedicated and committed in providing you with high quality education and training as well as social, sporting and welfare facilities to ensure that you realize your potential, ultimately succeed, receive the support and resources along your learning journey, and to make your stay in the UK exciting, welcoming, dynamic and successful.
           | The International Student Office at Newcastle College  is pleased to offer services to over 50 different countries, studying in all majors at all levels.
          
          li
           h3  Prospective International Students
          p Interested in studying with Newcastle College? Learn more about the application process and required documents, or contact an Admissions Counselor for assistance.          
          
          li
           h3 or international students Newcastle College offers Distance learning courses which consists of two optional methods.
          p  Newcastle College is home to a diverse and cosmopolitan community with over 4,000 international students from more than 120 countries.
           | Newcastle has a long tradition of welcoming students from all over the world. We are delighted that you are considering making Newcastle College your choice too!
        
          li
           h3 Method A:
           p Student picks two of six subjects, at least 20 paged Thesis should be written for each subject + a mini research concerns these subjects.
          li
           h3 Method B:
          p  The original examination method for each subject, exams takes place at British Council or other place as arranged between students and administration.
     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     