html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Master of Business Administration MBA
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Master of Business Administration MBA
      .container
       .row
        .col-12
        .paraghrapha
         p Newcastle College offers ambitious men and women a flexible three year of Master of Business Administration Programme with a range of specialisations. Newcastle College 3-year (flexible) MBA Programme is designed by experts to develop the high-level skills and competencies vital in men and women seeking successful careers in business, commerce, finance, logistics, management, marketing, human resource, administration, project control and related fields, The high quality Newcastle College Study & Training Materials, ensure superb tuition and the acquisition of wide-ranging knowledge to help accelerate career development in today’s fast moving world of competitive business. The Master Business Administration Programme leads to awards with specialisations in:
         ul(style="color:blue;font-weight:400")
          li Business Management and Administration.
          li Human Resources and Personnel Management.
          li Sales Management and Marketing.
          li Advanced Study of Theory and Practice of Administration. 
          li Administrative and Personal Assistant and Secretarial Duties.
          li Business Economics and Commerce..
          li Tourism and Travel Agency Management.
          li Business Bookkeeping and Accounts (Advanced).
          li Hotel Operations and Management.
          li Accounting in Business and Management. 
          li Health Care Informatics Concentration
          li Health Care Management Concentration •  
          li Information Technology Management Concentration


        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      