html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Presidential Scholarship
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1(style="color:#737272;font-weight:bold;width:100%") Presidential Scholarship
      .container
       .row
        .col-12
          .img
           img.mb-5(src="../img/oursec/12.png", alt="" ,style="width: 100%")
        .paraghrapha
         h4(style="color:#737272;font-weight:600;") Newcastle College offers Presidential Scholarship
         p(style="color:green;") We do everything to help you earn your degree without any hassles. Given the spiking tuition and other educational costs that keep students from pursuing their academic goals, Newcastle offers its financial aid through “Presidential Scholarship.You can save up to 90% of your tuition fee
         p(style="color:green;")  Presidential Scholarship is especially designed keeping in mind the financial needs of the students of different backgrounds and is distributed to students on need basis. Serving the financial needs of students since past many years, the scholarship has proved to be beneficial for students struggling with educational expenses. Do I qualify 
         h4(style="color:#737272;font-weight:600;") for Presidential Scholarship at Newcastle?
         p(style="color:green;")  The eligibility criteria at Newcastle College for Presidential Scholarship is so minimum that 90% of the applicants qualify for it. Working adults, veterans, home-schooled students, job seekers and military officials get an instant approval for the scholarship. With the scholarship, you can earn a degree without any financial hassles. How Does 
        
         h4(style="color:#737272;font-weight:600;") the Scholarship Application Process Work?
         p(style="color:green;")  The process of applying for the scholarship is simple and easy. All you have to do is show your interest for the scholarship at the time of filling out your admission form, and you will know if you qualify for a scholarship before you pay your enrollment fees. However, you are required to follow these steps:       
         p(style="color:green;")  Specify your interest in scholarship at time of filling admission application.     Specify the category for which you qualify. For example, if you are a working adult, then you should select that option when asked.     Complete the admission formalities

 
        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.
    
     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      