html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Nc College
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1 Collaboration
      .container
       .row
        .col-12
         .img
          img(src="../img/oursec/8.jpg", alt="", style="width: 100%;")
        .paraghrapha
         p Get advice on the issues of your business from world renowned experts.
         p As a world class research organisation, Newcastle is home to some of the world’s most advanced thinking. Our consultancy service can offer your business the opportunity to access this vast pool of expertise.
         p By offering sound practical advice to working on projects with commercially sensitive research, we can provide our business clients with an efficient, confidential, commercially focused service:       
         p many projects can help clients to gain long-term, profitable links with both the College and leading experts in their field we can offer a unique network for product, process and people development solutions we can also offer the following: testing and analysis prototype design and construction technical advice and practical problem solving
         p But you don’t need to contact us with a proposal. Just let us know the issues that you’re having with your business, and we can tailor a solution for you.
         
         p Contact us for further help and assistance and to access the best person to deal with your enquiry.

        h2.mt-5(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.

     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      