html(lang="en" dir="ltr")
    head
     //-  meta
     meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
     meta(http-equiv="X-UA-Compatible", content="ie=edge")
     meta(name="description", content='NC COLLEGE')
     meta(name="viewport", content="width=device-width, initial-scale=1.0")
     //-  end meta
     //- start title
     title Undergraduate Diploma Program 
     //- end title
     //  Cascading Style Sheet  Files  
     include ../includes/page-style.pug
     // End Css Files
    body
     // Contact Nav Bar
     include ../includes/pagef-nav.pug
     // Nav Bar
     include ../includes/page-nav.pug
     .headr-name
      .why-ncc
       h1(style="color:#737272;font-weight:bold;width:100%") Undergraduate Diploma Program

      .container
       .row
        .col-12
        .paraghrapha
         h1 Program Objective
         p Newcastle College offers two intensive Diploma programs in order to supplement the cardinal education and help you accelerate through your education program to future leadership positions.
         p Undergraduate Diploma program provides you a strong professional background by offering innovative teaching methods and thorough curriculum that can help you ace through your professional education.
         p Students gain advanced skills in effective program management, planning, and assessment and reporting.An emphasis is placed on enhanced communication skills to ensure effective communication, the practice of reflective teaching and the desire to continually improve professional knowledge and practice.
         p Moreover, students can get their previously earned credit hours transferred in order to shorten their program length and complete it in an accelerated mode
 
        
        h2(style="color:#737272;font-weight:bold;width:100%") LEAVE A COMMENT
        span You must be 
        a(href="login.html") &nbsp;&nbsp; logged in &nbsp;&nbsp;
        span to post a comment.
    
     .footer
      .container
       .row
        include ../includes/pages-footer.pug

     // Java Script Files
     include ../includes/page-js.pug
     // End JS Files
     
     
      