.pos-f-t
  #navbarToggleExternalContent.collapse
    .bg-dark.p-4
      h4.text-white Contact US
      a.d-block(href="mailto:Info@nccollege.uk") Info@nccollege.uk
      a.d-block(href='studentlogin.html') Alumni Login
      a.d-block(href="pages/applaynow.html") Apply Now
      span.text-muted
        // Facebook
        button.btn.btn-fb(type='button' style="background-color:#3b5999 ;")
          i.fab.fa-facebook
        // Twitter
        button.btn.btn-tw(type='button' style="background-color:#55acee ;")
          i.fab.fa-twitter
        // Google +
        button.btn.btn-gplus(type='button' style="background-color:#dd4b39 ;")
          i.fab.fa-google-plus
        // Linkedin
        button.btn.btn-li(type='button' style="background-color:#0077B5 ;")
          i.fab.fa-linkedin
        // Instagram
        button.btn.btn-ins(type='button' style="background-color:#e4405f ;")
          i.fab.fa-instagram
        // Pinterest
        button.btn.btn-pin(type='button' style="background-color:#bd081c ;")
          i.fab.fa-pinterest
        // Youtube
        button.btn.btn-yt(type='button' style="background-color:#cd201f ;")
          i.fab.fa-youtube
        // Dribbble
        button.btn.btn-dribbble(type='button' style="background-color:#ea4c89 ;")
          i.fab.fa-dribbble
        // Vkontakte
        button.btn.btn-vk(type='button' style="background-color:#4c75a3 ;")
          i.fab.fa-vk
        // Slack
        button.btn.btn-slack(type='button' style="background-color:#3aaf85 ;")
          i.fab.fa-slack
        // Github
        


  nav.navbar.navbar-dark.bg-dark
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-controls='navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
