//-  Java Script Library
//-  Jquery 
script(src="js/jquery-3.3.1.min.js")

script(src="js/popper.min.js")
//-  Bootstrape
script(src="js/bootstrap.min.js")
//- mdb 
script(src="js/mdb.min.js")
//- font awesome
script(src="js/all.min.js")

script(src="js/fontawesome.min.js")
//-  Data Tables
script(src="js/addons/datatables.min.js")
//-  Chart Count 
script(src="js/modules/chart.js")

script(src="js/modules/enhanced-modals.js")

//-  Forms From MDb
script(src="js/modules/forms-free.js")

script(src="js/modules/jquery.easing.js")

script(src="js/modules/scrolling-navbar.js")
//-  Waves Effect
script(src="js/modules/waves.js")

//-  Wow JS Lib
script(src="js/modules/wow.js")

script(src="js/modules/velocity.min.js")
//- light box For image gallary
script(src="js/lightbox.min.js")
//- Swiper
script(src="js/swiper.min.js")

//-  circle projress bar JS 
script(src="js/easypiechart.js")

//-  Custom JS Edit
script(src="js/plugin.js")

