link(href="css/addons/datatables.min.css", rel="stylesheet")
//-  Animation
link(href="css/free/modules/animations-extended/animations-extended.css", rel="stylesheet")
//-swiper
link(href="css/swiper.min.css" ,rel="stylesheet")
//- Bootstrap
link(href="css/bootstrap.min.css", rel="stylesheet")
//-  MD Bootstrap 
link(href="css/mdb.lite.min.css", rel="stylesheet")
link(href="css/mdb.min.css", rel="stylesheet")
//- font Awesome Lib
link(href="css/all.min.css", rel="stylesheet")
link(href="css/fontawesome.min.css", rel="stylesheet")
//-lightbox for iamge gallary
link(href="css/lightbox.min.css" ,rel="stylesheet")
//-image Hover
link(href="css/imagehover.min.css" ,rel="stylesheet")
//-  Custom Css file
link(href="css/style.css", rel="stylesheet")